@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(193, 144, 51);
}
.main {
  height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.container {
  height: 400px;
  width: 300px;
  background-color: rgb(210, 178, 178);
  border-radius: 10px;
  margin: 10px;
 
}
.button {
  padding: 10px;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 22px;
  right: 20px;
  top: 10px;
  position: fixed;
}
.button:hover{
    color: pink;
    transition: 0.2s ease-in-out;
    background-color: rgb(3, 69, 78);
}
.header {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px 10px 0 0;

}
textarea{
    height: calc(100% - 40px);
    width: 100%;
    resize: none;
    padding: 20px;
    font-size: 40px;
    font-weight: 500;
    background-color: rgb(224, 218, 207);
   

}
textarea:focus{
  
    outline: none;
}
